<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283378007856-v6uc38rm91jcptrjeel7vh0e7cg6ceva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283378007856-v6uc38rm91jcptrjeel7vh0e7cg6ceva</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ5N5GhnNGBVJiErL_Os_7CuoRlcZAe3w</string>
	<key>GCM_SENDER_ID</key>
	<string>283378007856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alfonsopatron.Swift-Shop</string>
	<key>PROJECT_ID</key>
	<string>swift-shop-cc834</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-shop-cc834.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283378007856:ios:8cf65f545272aef80952f5</string>
</dict>
</plist>